# Project specific directories
vault/
astrosite/

# Deno specific
/.deno/

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/

# Local settings
settings.json
.todos/
.sidecar/
.sidecar-agent
.sidecar-task
.sidecar-pr
.sidecar-start.sh
.sidecar-base
.td-root
